<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">
    {# <meta http-equiv="refresh" content="5" >   #}
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>  
<body>  
  <div class="w-full h-screen bg-[#1E1E1E] p-8 flex items-center justify-center ">
    <div class="w-[700px] flex gap-4 border border-1 border-neutral-500 px-4 py-4 rounded-lg shadow-xl">
      <div class="flex flex-col gap-4">
        {% include 'luminaria.html'%}
        {% include 'arcondicionadoquarto.html'%}
        {% include 'arcondicionadosala.html'%}
      </div>
      <div class="flex-1 flex flex-col gap-4">
        {% include 'temperaturas.html' %}
        {% include 'sensordepresenca.html'%}
      </div>
    </div>
  </div>
  <script>
  const socket = new WebSocket("...")

  
  socket.addEventListener("message", (event) =>{
    /*
    {
    "equipamento":"luminaria",
    "estado": true
    }
    */
    const mensagem = event.data
    if (mensagem.equipamento == "luminaria"){
      const botaoLuminaria = document.getElementById("toggle_luminaria");
      botaoLuminaria.checked = mensagem.estado
    }
  })

  function changeImage(){
    console.log("ABCD")
    var image = document.getElementById("imagempassos1");
    console.log(image.src)
    if(image.src.includes("/static/styles/presenca_desligado.png")){
      console.log("Presenca Desligado")
        image.src = "/static/styles/presenca_ligado.png";
    }
    else if(image.src.includes("/static/styles/presenca_ligado.png")){
      console.log("Presenca Ligado")
        image.src = "/static/styles/presenca_desligado.png";
    }

    var image = document.getElementById("imagempassos2");
    if(image.src.includes("/static/styles/presenca_desligado.png")){
        image.src = "/static/styles/presenca_ligado.png";
    }
    else if(image.src.includes("/static/styles/presenca_ligado.png")){
        image.src = "/static/styles/presenca_desligado.png";
    }
  }
  </script>
</body>  
</html>

