<div class="items-start rounded-lg bg-[#363636] px-3 py-2 border border-1 border-neutral-500 overflow-hidden" style="filter: drop-shadow(4px 4px 10px #070707);">
  <h3 class="absolute text-md text-nowrap font-semibold text-white z-10"> Sensor de Presença</h3>
  <button onclick = "changeImage()" class="flex justify-end z-0">
    <img id = "imagempassos1" class="mx-[-10px] my-[-20px] w-[300px] z-0" src="{{ url_for('static', filename='styles/presenca_desligado.png') }}">
    <img id = "imagempassos2" class="mx-[-10px] my-[-20px] w-[300px] z-0" src="{{ url_for('static', filename='styles/presenca_desligado.png') }}">
    <img id = "imagempassos3" class="mx-[-10px] my-[-20px] w-[300px] z-0" src="{{ url_for('static', filename='styles/presenca_desligado.png') }}">
  </button>
</div>